<div class="cards">
<% @lists.each do |list| %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.bg_list.attached? ? cl_image_path(list.bg_list.key) : image_path("bg_default.jpg") %>)">
    <%= link_to list.name, list_path(list) %>
  </div>
<% end %>
</div>
