<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.jeunest.fr/wp-content/uploads/2021/02/salle-cinema-vide-%C2%A9-razihusin-stock.adobe_.com_-scaled.jpg);">
  <div class="container">
    <h1>MaSuperWatchList</h1>
    <p>Créez vos propre playlists.</p>
  </div>
</div>
